# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyd
*.pyc
*.pyo
.Python

# Django
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# Virtualenv
venv/
ENV/
env/
.venv/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Environment variables
.env
.env.*

# Test/coverage
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
.coverage.*

# Certs/keys
*.pem
*.key

# Misc
*.bak
*.swp
*.tmp